* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

recipe-browser {
  max-width: 96rem;
  margin-inline: auto;
}

html {
  scrollbar-gutter: stable;
}

body.no-scroll {
  overflow: hidden;
}
